@-webkit-keyframes bounce {
        0% { transform: translateY(-5px)  }
        50% { transform: translateY(10px) }
        100% { transform: translateY(-5px) }
    }
    
    @keyframes bounce {
        0% { transform: translateY(-5px)  }
        50% { transform: translateY(10px) }
        100% { transform: translateY(-5px) }
    }

#hero {
    background-color: $orange;
    width: 100vw;
    height: 85vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    #heading-wrapper {
        h1 {
            font-size: 90px;
            line-height: 55px;
            color: $white;
            padding: 0 2rem 1rem 2rem;
            border-bottom: 16px solid;
            width: 80%;
            margin-bottom: 2rem;
        }
    }

    #hero-image{ 
        width: 100%;
        display: flex;
        justify-content: flex-end;
       

        img {
            width: 90%;
            border: 1px solid $white;
            object-fit: cover;
        }
    }
    #hero-bottom {
        width: 100vw;
        padding: 4rem 2rem;
        display: flex;
        align-items: center;
        #abtBtn {
            width: 15%;
            object-fit: contain;
            -webkit-animation: bounce 1s infinite ease-in-out;
            -o-animation: bounce 1s infinite ease-in-out;
            -ms-animation: bounce 1s infinite ease-in-out; 
            -moz-animation: bounce 1s infinite ease-in-out; 
            animation: bounce 1s infinite ease-in-out;
        }
        h3 {
            color: $white;
            width: 75%;
            font-size: 24px;
            text-align: right;
            margin-left: 25%;
        }
    }
}

@media screen and (min-width:768px) {  

    #hero {
        #heading-wrapper {
            h1 {
                font-size: 125px;
                width: 50%;
                line-height: 80px;
                padding: 0 2rem 2rem 4rem;

            }
        }
        #hero-bottom { 
            padding: 2rem 4rem;
            justify-content: space-between;
            h3 {
                font-size: 35px;
            }
            #abtBtn {
                width: 12%;
                margin: 0 0 10px 10px;
            }
        }
    }

}


@media screen and (min-width:820px) { 
   #hero {
    #hero-image {
        img {
            width: 84%;
        }
    }
   }
}

@media screen and (min-width:1000px) {  
    #hero {
        height: 90vh;
        #heading-wrapper {
            h1 {
                padding: 1rem 2rem 2rem 2rem;
            }
        }
        #hero-image {
            img {
                width: 50%;
                position: absolute;
                top: 2rem;
                height: 80%;
            }
        }
        #hero-bottom {
            flex-wrap: wrap;
            padding: 2rem 2rem;
            #role {
                width: 100%;
            }
            h3 {
                margin-left: 0;
                width: 100%;
            }
        }
    }

}