
#navbar {
    background-color: $orange;  
    display: flex;
    justify-content: flex-end;
    height: 12vh;
    overflow: hidden;
    width: 100vw;
    
    #desktop-menu {
        display: none;

        a {
            text-decoration: none;
        }
    }
   
    #nav-icon {
        width: 20%;
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 1rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            position: absolute;
           
        }
        .rotate {
            animation: rotate 20s linear infinite; 
        }
        svg {
            position: relative;
            z-index: 100;
            font-size: 22px;
            color: $blue;
        }
    }
    #nav-icon:hover {
        cursor: pointer;

        img {
            animation: rotate 1.5s linear infinite;
        }
    }
}







  @media screen and (min-width:768px) { 
    #navbar {
        height: 10vh;
        #nav-icon {
            width: 12%;
        }
    }
  }



 
  
  @media screen and (min-width:900px) { 
    #navbar {
        height: 10vh;
        #nav-icon {
            display: none;
        }
        #desktop-menu {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100vw;
            height: 100%;
            border-bottom: 2px solid $white;
            ul {
                
                list-style: none;
                height: 100%;
                display: flex;

                li {
                    padding: 1rem 1rem;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    height: 100%;
                    color: $white;
                    border-left: 2px solid $white;
                    transition: all 0.3s ease-in-out;

                }
                #cta {
                    background-color: $pink;
                    transition: all 0.3s ease-in-out;

                }
                #cta:hover {
                    background-color: $white;
                    padding: 1rem 2rem;
                    color: $orange;
                }
                li:hover {
                    background-color: $white;
                    padding: 1rem 2rem;
                    color: $orange;
                    
                }
            }

        }
    }
  }

  @keyframes rotate{
    to{ transform: rotate(360deg); }
  }